#title {
    text-align: center;
}
body {
    background-color: #FAFAFA;
}

.surveyBar {
    position: absolute;
    top: 4;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    height: 10;
    opacity: 30%;
}

li {
    position: relative;
}