#title {
    text-align: center;
}
body {
    margin: 0;
    background-color: #f6fbfb;
}

a {
    text-decoration: none;
    color: black;
}

button, input[type="submit"] {
    background-color: lightblue;
    border-width: 0px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
}

button:hover, input[type="submit"]:hover {
    background-color: rgb(146, 156, 196);
}

.surveyBar {
    position: absolute;
    top: 4;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    height: 10;
    opacity: 30%;
}

li.surveyResults {
    position: relative;
}


ul.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
}

a.navBar {
    display: block;
    background-color: lightgray;
    text-align: center;
    padding: 20px 40px;
}

a.navBar:hover {
    background-color: darkgray;
}

li.navBar {
    display: inline;
    float: left;
}

li.mainList {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}
a.mainList:hover {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightblue;
}